@font-face {
    font-family: IRANSans; 
    src:url(/assets/fonts/IRANSans/IRANSansWeb_Light.woff) format('woff');
}

*{
    direction: rtl;
    text-align: right;
}
.bg-gray {
    background-color: #404E67;
    color: #dcdcdc;
}
.pointer{
    cursor: pointer;
}
.text-gray {
    color: #dcdcdc;
}
.bottom-10{
    bottom: 3px;
}
.badge-comment{
   left: -.6rem;
}